{{range $element := .}}template {{$element.Name}}() {{"{"}}{{range $line := $element.Lines}}
    [ {{$line.X}}, {{$line.Y}}, {{$line.W}}, {{$line.H}}, {{$line.OffsetX}}, {{$line.OffsetY}} ]{{end}}
}

{{end}}